.boxComment.col-md-4{
    width: 1000px;
    height: 490px;
    overflow: scroll;
    background: #f6f7f9; padding: 15px; margin-left: 25px
}

.dt{
    font-size: 12px;
    color: grey;
}

.action{
    font-size: 12px;
}

.action:hover{
    cursor: pointer;
    text-decoration: underline;
}

.more-comment{
    font-size: 16px;
}

.loadReply{
    margin-left: 10%;
}

.addComment{
    margin: 30px 0px 20px 0px;
}

.form-control{
    border-radius: 2px;
    height: 27px;
    margin-right: 3px;
    font-size: 13px;
    width: 99%;
}

.angry{
    width: 12px;
    height: 14px;
    /*margin-top: 20%;*/
}

.none{
    width: 12px;
    height: 14px;
    /*margin-top: 65%;*/
}

.angry:hover, .none:hover, .icon-like:hover{
    cursor: pointer;
    width: 15px;
    height: 17px;
}

.contain-icon, .show-icon {
    display: inline;
    margin: 0;
    padding: 0;
}

.contain-icon li {display: inline-block;}
.show-icon li:hover {background: none;}
.show-icon li:hover ul {display: block;}

.show-icon li {display: inline-block;}
.contain-icon li:hover {background: none;}
.contain-icon li:hover ul {display: block;}

.contain-icon li ul {
    position: absolute;
    width: 200px;
    display: none;
}
.contain-icon li ul li { 
    background: none; 
    display: block; 
    float: left;
    padding-right: 8px;
    margin-top: -8px;
}
.contain-icon li ul li a {display:block !important;} 
.contain-icon li ul li:hover {background: none;}

.form-edit{
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 4px 0px 0px 4px;
}

.edit-submit {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.form-success {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px 4px 4px 0px;
}

.hidden-decoration{
    margin-left: 5%;
}

.hidden-test{
    display: none;
}

.avatar-user{
    float: left;
    margin-top: 0.5%;
    margin-right: 1%;
}

.contain-all-comment{
    padding: 2%;
    background-color: #cfd4d0;
}

.contain-input-comment{
    width: 80%;
    float: left;
}

.input-group-btn{
    padding-top: 0.7%;
}